{% extends 'base.html' %}
{% load static %}

{% block title %}S&P 500 Price to Sales ratio{% endblock title %}
{% block title_og %}S&P 500 Price to Sales ratio{% endblock title_og %}
{% block title_meta %}S&P 500 Price to Sales ratio{% endblock title_meta %}
{% block description %}S&P 500 Price to Sales Ratio (P/S or Price to Revenue). Current price to sales ratio is estimated based on current market price and 12 month sales ending June, 2021 the latest reported by S&P. PSRs vary greatly from sector to sector, so they are most useful in comparing similar stocks within a sector or sub-sector.{% endblock description %}
{% block description_og %}S&P 500 Price to Sales Ratio (P/S or Price to Revenue). Current price to sales ratio is estimated based on current market price and 12 month sales ending June, 2021 the latest reported by S&P. PSRs vary greatly from sector to sector, so they are most useful in comparing similar stocks within a sector or sub-sector.{% endblock description_og %}
{% block description_meta %}S&P 500 Price to Sales Ratio (P/S or Price to Revenue). Current price to sales ratio is estimated based on current market price and 12 month sales ending June, 2021 the latest reported by S&P. PSRs vary greatly from sector to sector, so they are most useful in comparing similar stocks within a sector or sub-sector.{% endblock description_meta %}
{% block content %}


<section id="top" class="p-2 border-bottom m-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-4 p-5">
        <h1 class="h2">S&P 500 Price to sales ratio:</h1>
        <h2 class="lead">
          S&P 500 Price to Sales Ratio (P/S or Price to Revenue). Current price to sales ratio is estimated based on current market price and 12 month sales ending June, 2021 the latest reported by S&P. PSRs vary greatly from sector to sector, so they are most useful in comparing similar stocks within a sector or sub-sector. See also: <a class="" href="{% url 'sp500:sp500_view_dis_ps_ratio' %}">S&P 500 Price to Sales Distribution</a>
        </h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Current</th>
                <td>{{ current_ }}</td>
              </tr>
              <tr>
                <th scope="row">Mean</th>
                <td>{{ mean_ }}</td>
              </tr>
              <tr>
                <th scope="row">Median</th>
                <td>{{ median_ }}</td>
              </tr>
              <tr>
                <th scope="row">Min</th>
                <td>{{ min_ }}</td>
              </tr>
              <tr>
                <th scope="row">Max</th>
                <td>{{ max_ }}</td>
              </tr>
            </tbody>
          </table>
        <p>
          Source: Standard & Poor's
        </p>
      </div>
      </div>
      <div class="chart_wrap col-12 col-lg-8">
        <div class="chart" id="" width="100%" height="">
          {% autoescape off %}
            {{ plot_div }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-5 pt-2 pb-2 border border-secondary bg-light rounded-3">
        <h4 class="pt-3 pb-1 d-inline-block tag-title">Most popular:</h4>
        <ul class="flex-column link-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'sp500:sp500_view_pe' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 PE Ratio by Month</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_shiller_pe' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>Shiller PE Ratio by Month</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Price to Sales Ratio by Quarter</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_e_yield' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Earnings Yield by Month</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_s_growth' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Sales Growth Rate by Quarter</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_e_growth' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Earnings Growth Rate by Quarter</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_dis_ps_ratio' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Price to Sales Distribution</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_dis_rev_growth' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Revenue Growth Distribution</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_dis_op_margin' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Operating Margin Distribution</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_dis_gr_margin' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Gross margin Distribution</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sp500:sp500_view_excess_cape' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>S&P 500 Excess CAPE Yield</h1>
            </a>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
</section>

{% endblock content %}