/* #333; */

body {
  font-size: .875rem;
  background-color:#F4F9F9;
}

.album{
  --featured-img: linear-gradient(180deg, rgb(167, 167, 167), #262626);
  --bg-blend-mode: overlay;
  background-color: #262626;
  background-position: top 58 px center;
  background-repeat: no-repeat;
  background-image: radial-gradient(75% 75% at top center, rgba(0, 0, 0, 0.55), #262626), url(../../images/wallstreet.jpg);
  padding: 4rem 0 0.5rem 0;
  border-top: 1px solid #eee;
  color: rgb(198, 198, 198);
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;

}

.chart_wrap {
    border:1px solid gray;
    border-radius:10px;
    position: relative;
    /* padding-bottom: 100%; */
    height: 400px;
    overflow:hidden;
    
}
.chart{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
.chart_wrap.short{
  width: 100%; 
  height: 100px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; 
}


.nav-link {
  font-weight: 500;
  color: #333;
}

.nav-link .feather {
  margin-right: 4px;
  color: #333;
}

.nav-link:hover .feather,
.nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}



.link-tabs {
    -webkit-tap-highlight-color: transparent;
    padding:10px
}

.link-tabs li {
    display: inline-block;
    margin: 0 5px 10px 0;
    font-size:16px
}

.link-tabs li a {
    display: block;
    padding: 8px 10px;
    color: #333;
    background: #fff;
    border:1px solid #FF6464;
    border-radius: 5px;
    
}

.link-tabs li a:hover {
    color: #f98404;
    border-color:#fdce9b;
    border-radius: 5px;
}

.link-tabs li a.on {
    color: #333;
    background: #fdce9b;
    border-color:#f98404;
}

.card:hover{
  transform: scale(0.95);
}

.card{
  transition: all 0.3s;
  border-radius: 1.5rem;
  background-size: cover;
  border: solid #fff 1px;
}

.card a{
  text-decoration: none;
  color: #333;
}
.card h2{
  text-decoration: none;
  color: #ffff;
}
.card-text{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

