/* #333; */

body {
  font-size: .875rem;
  background-color:#F4F9F9;
}

.chart_wrap {
    border:1px solid gray;
    border-radius:10px;
    position: relative;
    /* padding-bottom: 100%; */
    height: 400px;
    overflow:hidden;
}
.chart{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
.chart_wrap.short{
  width: 100%; 
  height: 100px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; 
}


.nav-link {
  font-weight: 500;
  color: #333;
}

.nav-link .feather {
  margin-right: 4px;
  color: #333;
}

.nav-link:hover .feather,
.nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}



.link-tabs {
    -webkit-tap-highlight-color: transparent;
    padding:10px
}

.link-tabs li {
    display: inline-block;
    margin: 0 5px 10px 0;
    font-size:16px
}

.link-tabs li a {
    display: block;
    padding: 8px 10px;
    color: #333;
    background: #fff;
    border:1px solid #FF6464;
    border-radius: 5px;
    
}

.link-tabs li a:hover {
    color: #f98404;
    border-color:#fdce9b;
    border-radius: 5px;
}

.link-tabs li a.on {
    color: #333;
    background: #fdce9b;
    border-color:#f98404;
}