{% extends 'base.html' %}
{% load static %}

{% block title %}S&P 500 important ratio{% endblock title %}
{% block description %}some other description{% endblock description%}
{% block content %}


<section id="top" class="p-2 border-bottom mt-5 pb-5 m-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-4 p-5">
        <h1 class="h2">S&P 500 Price to sales ratio:</h1>
        <p class="lead">
          S&P 500 Price to Sales Ratio (P/S or Price to Revenue). Current price to sales ratio is estimated based on current market price and 12 month sales ending June, 2021 the latest reported by S&P.
        </p>
        <p>
          Source: Standard & Poor's
        </p>
      </div>
      <div class="chart_wrap col-12 col-lg-8">
        <div class="chart" id="" width="100%" height="">
          {% autoescape off %}
            {{ plot_div }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-md-6 mb-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">US Treasury Rate:</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">current</th>
                <th scope="col">min</th>
                <th scope="col">max</th>
              </tr>
            </thead>
            <tbody>
              {% for n in  dic_list  %}
              <tr>
                <th>{{ n.name }}</th>
                <td>{{ n.current }}%</td>
                <td>{{ n.min }}%</td>
                <td>{{ n.max }}%</td>
              </tr>
              
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-12 p-5 pt-2 pb-2 border border-secondary bg-light rounded-3">
        <h4 class="pt-3 pb-1 d-inline-block tag-title">Most popular:</h4>
        <ul class=" flex-column link-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'interest_rate:interest_rate_tbill_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Treasury Bills (maturity of less than one year)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:interest_rate_tbond_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Treasury Notes & Bonds (maturity between 2 and 30 years)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:yield_curve_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Yield curve
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:tips_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Treasury Inflation-Protected Securities (TIPS)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:inflation_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Consumer Price Index (CPI)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:expected_inflation_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Expected Inflation vs Core-CPI
            </a>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
</section>


{% endblock content %}