{% extends 'base.html' %}
{% load static %}

{% block title %}Calculate Beta & Correlation{% endblock title %}
{% block title_og %}Calculate Beta & Correlation{% endblock title_og %}
{% block title_meta %}Calculate Beta & Correlation{% endblock title_meta %}
{% block description %}Beta (β or market beta or beta coefficient) is a measure of how an individual asset moves (on average) when the overall stock market increases or decreases. If an asset has a beta above (below) 1, it indicates that its return moves more (less) than 1-to-1 with the return of the market-portfolio, on average.{% endblock description %}
{% block description_og %}Beta (β or market beta or beta coefficient) is a measure of how an individual asset moves (on average) when the overall stock market increases or decreases. If an asset has a beta above (below) 1, it indicates that its return moves more (less) than 1-to-1 with the return of the market-portfolio, on average.{% endblock description_og %}
{% block description_meta %}Beta (β or market beta or beta coefficient) is a measure of how an individual asset moves (on average) when the overall stock market increases or decreases. If an asset has a beta above (below) 1, it indicates that its return moves more (less) than 1-to-1 with the return of the market-portfolio, on average.{% endblock description_meta %}
{% block content %}



<section id="top" class="p-2 border-bottom mt-5 m-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-4 p-5">
        <div class=''>
          <h1 class="h2">Calculate Beta:</h1>
          <p class="lead">
            Beta (β or market beta or beta coefficient) is a measure of how an individual asset moves (on average) when the overall stock market increases or decreases. If an asset has a beta above (below) 1, it indicates that its return moves more (less) than 1-to-1 with the return of the market-portfolio, on average.
          </p>
          
          {% if error_message %}
          <div class="">
              <label class="alert alert-danger" for="">{{error_message}}</label>
              {% else %}
              <label class="" for="">Enter a Stock-Ticker and Benchmark:</label>
              {% endif %}
          </div>
          <form class="row g-3" method="POST">
            {% csrf_token %}
            <input class="form-control" type="text" name="stock_ticker" placeholder="Stock Ticker" value={% if stock_ticker %}{{stock_ticker}}{% else %}'AAPL'{% endif %}>
            <input class="form-control" type="text" name="benchmark" placeholder="Benchmark" value= {% if benchmark %}{{benchmark}}{% else %}'^GSPC'{% endif %}>
            <button class="btn btn-outline-primary" type="submit">Calculate Beta</button>
          </form>
        </div>
        <div class="chart_wrap col-12 col-lg-8">
          <div class="chart" id="" width="100%" height="">
            {% autoescape off %}
              {{ plot_div }}
            {% endautoescape %}
          </div>
        </div>
        {% comment %} <p>Source: https://www.investopedia.com</p> {% endcomment %}
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-md-6 mb-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Beta & Correlation:</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
                            <tr>
                <th scope="col">#</th>
                <th scope="col">Beta</th>
                <th scope="col">Correlation</th>
                <th scope="col">Intercept</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ stock_ticker }}</td>
                <td>{{ beta }}</td>
                <td>{{ cor }}</td>
                <td>{{ intercept }}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-12 p-5 pt-2 pb-2 border border-secondary bg-light rounded-3">
        <h4 class="pt-3 pb-1 d-inline-block tag-title">Most popular:</h4>
        <ul class=" flex-column link-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'interest_rate:interest_rate_tbill_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Calculate Beta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'interest_rate:interest_rate_tbill_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Volatility
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'interest_rate:interest_rate_tbill_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Treasury Bills (maturity of less than one year)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:interest_rate_tbond_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Treasury Notes & Bonds (maturity between 2 and 30 years)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:yield_curve_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Yield curve
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:tips_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Treasury Inflation-Protected Securities (TIPS)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:inflation_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Consumer Price Index (CPI)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:expected_inflation_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              US Expected Inflation vs Core-CPI
            </a>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
</section>


{% endblock content %}