{% extends 'base.html' %}
{% load static %}

{% block title %}Cboe Volatility Index VIX & VXN{% endblock title %}
{% block title_og %}Cboe Volatility Index VIX & VXN{% endblock title_og %}
{% block title_meta %}Cboe Volatility Index VIX & VXN{% endblock title_meta %}
{% block description %}The VIX Index is based on real-time prices of options on the S&P 500 Index (SPX) and is designed to reflect investors' consensus view of future (30-day) expected stock market volatility. The VIX Index is often referred to as the market's "fear gauge". The Cboe NASDAQ-100 Volatility Index (VXN) is a key measure of market expectations of near-term volatility conveyed by NASDAQ-100 Index (NDX) option prices. It measures the market's expectation of 30-day volatility implicit in the prices of near-term NASDAQ-100 options.{% endblock description %}
{% block description_og %}The VIX Index is based on real-time prices of options on the S&P 500 Index (SPX) and is designed to reflect investors' consensus view of future (30-day) expected stock market volatility. The VIX Index is often referred to as the market's "fear gauge". The Cboe NASDAQ-100 Volatility Index (VXN) is a key measure of market expectations of near-term volatility conveyed by NASDAQ-100 Index (NDX) option prices. It measures the market's expectation of 30-day volatility implicit in the prices of near-term NASDAQ-100 options.{% endblock description_og %}
{% block description_meta %}The VIX Index is based on real-time prices of options on the S&P 500 Index (SPX) and is designed to reflect investors' consensus view of future (30-day) expected stock market volatility. The VIX Index is often referred to as the market's "fear gauge". The Cboe NASDAQ-100 Volatility Index (VXN) is a key measure of market expectations of near-term volatility conveyed by NASDAQ-100 Index (NDX) option prices. It measures the market's expectation of 30-day volatility implicit in the prices of near-term NASDAQ-100 options.{% endblock description_meta %}
{% block content %}


<section id="top" class="p-2 border-bottom mt-5 pb-5 m-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-4 p-5">
        <h1 class="h2">Cboe Volatility Index (VIX) & Cboe NASDAQ-100 Volatility Index (VXN):</h1>
        <h2 class="lead">
          The VIX Index is based on real-time prices of options on the S&P 500 Index (SPX) and is designed to reflect investors' consensus view of future (30-day) expected stock market volatility. The VIX Index is often referred to as the market's "fear gauge". The Cboe NASDAQ-100 Volatility Index (VXN) is a key measure of market expectations of near-term volatility conveyed by NASDAQ-100 Index (NDX) option prices. It measures the market's expectation of 30-day volatility implicit in the prices of near-term NASDAQ-100 options.
        </h2>
        <p>
          Source: Cboe Exchange, Inc.
        </p>
      </div>
      <div class="chart_wrap col-12 col-lg-8">
        <div class="chart" id="" width="100%" height="">
          {% autoescape off %}
            {{ plot_div }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-md-6 mb-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">US Treasury Rate:</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Current</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Standard Deviation</th>
              </tr>
            </thead>
            <tbody>
              {% for n in  dic_list  %}
              <tr>
                <th>{{ n.name }}</th>
                <td>{{ n.current }}%</td>
                <td>{{ n.min }}%</td>
                <td>{{ n.max }}%</td>
                <td>{{ n.std }}%</td>
              </tr>
              
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-12 p-5 pt-2 pb-2 border border-secondary bg-light rounded-3">
        <h4 class="pt-3 pb-1 d-inline-block tag-title">Most popular:</h4>
        <ul class=" flex-column link-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'beta:beta_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>Calculate Beta</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'beta:volatility_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>Market Volatility</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'interest_rate:interest_rate_tbill_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>US Treasury Bills (maturity of less than one year)</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:interest_rate_tbond_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>US Treasury Notes & Bonds (maturity between 2 and 30 years)</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:yield_curve_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>US Yield curve</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:tips_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>Treasury Inflation-Protected Securities (TIPS)</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:inflation_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>US Consumer Price Index (CPI)</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interest_rate:expected_inflation_view' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              <h1>US Expected Inflation vs Core-CPI</h1>
            </a>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
</section>


{% endblock content %}