{% extends 'base.html' %}
{% load static %}

{% block title %}S&P 500 Price to Sales ratio{% endblock title %}
{% block title_og %}S&P 500 Price to Sales ratio{% endblock title_og %}
{% block title_meta %}S&P 500 Price to Sales ratio{% endblock title_meta %}
{% block description %}some description{% endblock description %}
{% block description_og %}someother description{% endblock description_og %}
{% block description_meta %}someother other description{% endblock description_meta %}
{% block content %}


<h1 class="heading-primary">How to choose the right stock</h1>
<h1 class="heading-primary">Macro economy</h1>
<h2 class="heading-primary">Micro economy</h2>
<img src={% static 'images/home_.jpeg' %} class="hero-img " alt="" srcset="">

{% endblock content %}
